.img-modal{
    max-width: 90%;
    height: 80vh;
}

.img-modal img{
    width:100%;
    height: 100%;
}

/* hiding project image modal on 1024px screens */
@media(max-width: 1024px){

    .img-modal{
        display: none;
    }

}