@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto&display=swap');

.categories-btns-div{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.categories-btns-div .categories-btns{
    width: 150px;
    padding: 10px 14px;
    border: 1px solid #f0ab00;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.5s ease-in-out;
    margin: 5px 15px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

.categories-btns.active{
    background-color: #f0ab00;
}

.categories-btns-div .categories-btns:hover{
    background-color: #f0ab00;
}

@media(max-width: 540px){

    .categories-btns-div{
        width: 100%;
    }

    .categories-btns-div .categories-btns{
        width: 100%;
        margin: 5px 0;
    }
    
}

.projects-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    color: #cccccc;
    margin-top: 30px;
    font-family: 'Roboto','sans-serif';
    margin-left: auto;
    margin-right: auto;
    padding: 0 5px;
}

.projects-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projects-wrapper .project-card{
    width: 550px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #000a1a;
    margin: 10px;
    padding: 15px;
}

@media(max-width: 1024px){

    .projects-info{
        width: 100%;
    }

    .projects-wrapper .project-card{
        width: 100%;
        margin: 10px 0;
    }

}

@media(max-width: 540px){

    .projects-wrapper .project-card{
        flex-direction: column;
    }

}

.projects-wrapper .project-content{
    flex: 2;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    margin-right: 10px;
}

.projects-wrapper .project-content .title{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.projects-wrapper .project-content .description{
    color: #cccccc;
    font-size: 16px;
    margin-top: 7px;
}

.projects-wrapper .project-content .tech{
    color: #14bbea;
    font-size: 16px;
    font-weight: 600;
    margin-top: 7px;
}

.project-btns-group{
    display: flex;
    margin-top: 15px;
}

.project-btns-group a{
    width: 150px;
    padding: 8px 6px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.09em;
}

.project-btns-group a.github-btn{
    border: 1px solid #f0ab00;
}

.project-btns-group a.github-btn.not-available{
    font-size: 12px;
}

.project-btns-group a.live-link-btn{
    background-color: #f0ab00;
}

.project-btns-group a.live-link-btn.not-available{
    font-size: 12px;
}

.project-btns-group a:hover{
    color: #fff;
    text-decoration: none;
}

.projects-wrapper .project-card .project-img{
    flex: 1;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-wrapper .project-card .project-img span{
    font-size: 14px;
    text-align: center;
    margin-top: 7px;
    color: #14bbea;
    cursor: pointer;
}

.projects-wrapper .project-card .project-img span:hover{
    text-decoration: underline;
}

.projects-wrapper .project-card .project-img img{
    width: 100%;
    height: auto;
}

@media(max-width: 540px){

    .projects-wrapper .project-card .project-content{
        width: 100%;
        margin-right: 0;
    }

    .projects-wrapper .project-card .project-img{
        width: 100%;
        margin-top: 15px;
    }

    .projects-wrapper .project-card .project-img span{
        font-size: 16px;
        margin-top: 10px;
    }

}

@media(max-width: 450px){

    .projects-wrapper .project-content{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .projects-wrapper .project-content .project-btns-group{
        width: 100%;
        flex-direction: column;
    }

    .projects-wrapper .project-content .project-btns-group a{
        width: 100%;
        margin: 5px 0;
    }

}

/* hiding click to enalrge image on 1024px screens */
@media(max-width: 1024px){

    .projects-wrapper .project-card .project-img span{
        display: none;
    }

}