@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto&display=swap');

.circular-progress-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.circular-progress-box .progress-box{
    width: 200px;
    height: 200px;
    margin: 20px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.circular-progress-box .progress-box .progress-heading{
    color: #fff;
    margin-bottom: 15px;
    font-size: 24px;
}