@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto&display=swap');

.circular-progress-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    width: 90%;
}

/* .circular-progress-box .progress-box{
    width: 200px;
    height: 200px;
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.circular-progress-box .progress-box .progress-heading{
    color: #fff;
    margin-bottom: 15px;
    font-size: 24px;
} */

.diamond{
    width: 150px;
    height: 150px;
    margin: 50px;
    border: 4px solid #1daede;
    transform: rotate(-45deg);
    font-size: 20px;
    font-weight: 600;
    font-family: 'Roboto','sans-serif';
    color: #fff;
}

@media(max-width: 360px){
    .diamond{
        margin: 25px;
    }
}

.diamond-text{
    transform: rotate(45deg);
    letter-spacing: 0.15em;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}