@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  width: 100%;
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  overflow-x: hidden;
}

.background{
  width: 100%;
  height: auto;
  padding: 5px 25px;
  background-image: linear-gradient(to left,#1e57b4, #011538);
}

/* navbar desktop */
.navbar{
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

/* logo */
.logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
}

.logo .logo-icon{
  color: #1daede;
}

.logo .logo-text{
  font-size: 24px;
  color: #1daede;
  letter-spacing: 0.2em;
}

/* social icon links */
.navbar .social-links{
  display: flex;
  align-items: center;
}

.navbar .social-links .social-icon{
  margin: 0 15px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.navbar .social-links .social-icon-text{
  display: none;
}

/* admin login button */
.navbar .social-links .admin-login{
  padding: 10px 14px;
  background: #1daede;
  border: hidden;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  font-weight: 600;
  margin-left: 20px;
  border-radius: 6px;
  font-family: 'Raleway', sans-serif;
}

/* menu button */
.navbar .toggler{
  display: none;
}
/* end of navbar desktop */

/* navbar mobile */
@media(max-width: 540px){

  /* navbar before toggle */
  .navbar{
    position: relative;
    height: 80px;
    transition: 0.5s height ease-in-out;
  }

  .navbar .logo{
    position: absolute;
    top: 0px;
    left: 10px;
  }

  .navbar .toggler{
    display: block;
    color: #fff;
    position: absolute;
    top: 50px;
    right: 10px;
  }

  .navbar .social-links{
    opacity: 0;
    position: absolute;
    left: -500px;
    transition: 0.5s opacity ease-in-out;
  }

  /* navbar after toggle */
  .navbar.expanded{
    height: 400px;
  }

  .navbar.expanded .social-links.expanded{
    position: absolute;
    top: 120px;
    left: 0;
    opacity: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .navbar.expanded .social-links.expanded .social-icon{
    margin: 15px 5px;
    position: relative;
    width: 100%;
    padding: 5px;
  }

  .navbar.expanded .social-links.expanded .social-icon-text{
    display: inline;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Raleway','sans-serif';
    position: absolute;
    top: 8px;
    left: 40px;
  }

  .navbar.expanded .social-links.expanded .admin-login{
    margin-left: 8px;
    margin-top: 20px;
  }

}
/* end of navbar mobile */

/* constant modal */
.modal-background{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.delete-icon{
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  position: fixed;
  top: 0px;
  right: 0px;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  z-index: 2;
  width: 30px;
  padding: 7px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-icon:hover{
  background-color: #222;
}

/* login modal desktop */
.login-modal-container{
  width: 300px;
  height: auto;
  padding: 10px;
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
}

@media(max-width: 450px){
  .login-modal-container{
    width: 90%;
  }
}

.login-modal-container .modal-heading{
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 7px;
  padding-bottom: 2px;
}

.login-modal-container input{
  margin: 10px 0;
}

.login-modal-container button{
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.09em;
  background-color: #1daede;
  color: #fff;
}

.err-message{
  color: red;
  font-size: 12px;
  font-weight: 600;
  margin-top: 5px;
}

/* hero */
.hero-box{
  width: 100%;
  max-width: 1100px;
  height: 550px;
  padding: 50px 5px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-box .content{
  flex: 2.5;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
}

.hero-box .hero-heading{
  margin: 7px 0;
  font-size: 42px;
  font-weight: 600;
  color: #fff;
}

.hero-box .hero-heading .name{
  color: #f0ab00;
}

.hero-box .content .view-resume-btn{
  width: 165px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  margin-top: 15px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
  font-family: 'Raleway', sans-serif;
}

.hero-box .content .view-resume-btn:hover{
  background: #1daede;
}

.hero-box .hero-img{
  flex: 1.5;
  height: auto;
}

.hero-box .hero-img img{
  width: 100%;
  height: 100%;
}

/* 768px */
@media(max-width: 768px){

  .hero-box{
    flex-direction: column-reverse;
    height: auto;
    justify-content: center;
  }

  .hero-box .content{
    width: 100%;
  }

  .hero-box .hero-img{
    width: 100%;
  }

}

/* 540px */
@media(max-width: 540px){

  .hero-box .hero-heading{
    font-size: 32px;
  }

  .hero-box .content .view-resume-btn{
    width: 100%;
  }

}

/* 450px */
@media(max-width: 450px){

  .hero-box .hero-heading{
    font-size: 28px;
  }

}

/* 400px */
@media(max-width: 400px){

  .hero-box .hero-heading{
    font-size: 24px;
  }

}

/* 360px */
@media(max-width: 360px){

  .hero-box .hero-heading{
    font-size: 20px;
  }

}

/* 280px */
@media(max-width: 280px){

  .hero-box .hero-heading{
    font-size: 16px;
  }

}

/* resume-modal */
.resume-modal-container{
  width: 900px;
  height: 80vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width: 1024px){

  .resume-modal-container{
    width: 90%;
  }

}

/* sections constant css */
.section-box{
  width: 100%;
  height: auto;
  padding: 50px;
  background: #001435;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Raleway', sans-serif;
}

@media(max-width: 1024px){

  .section-box{
    padding: 40px;
  }

}

@media(max-width: 768px){

  .section-box{
    padding: 30px;
  }

}

@media(max-width: 540px){

  .section-box{
    padding: 20px;
  }

}

.section-box .section-heading{
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
  text-align: center;
}

.section-box .tagline{
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  margin-top: 10px;
  text-align: center;
}

.section-box .tagline .color{
  color: #14bbea;
}

/* 450px */
@media(max-width: 450px){

  .section-box .section-heading{
    font-size: 20px;
  }

  .section-box .tagline{
    font-size: 28px;
  }

}

/* 400px (exceptional query) */
@media(max-width: 400px){

  .section-box .section-heading{
    font-size: 18px;
  }

  .section-box .tagline{
    font-size: 26px;
  }

}

/* 360px */
@media(max-width: 360px){

  .section-box .section-heading{
    font-size: 16px;
  }

  .section-box .tagline{
    font-size: 24px;
  }

}

/* about css */
.section-box .info{
  width: 500px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.09em;
  line-height: 24px;
  margin-top: 25px;
}

@media(max-width: 540px){
  .section-box .info{
    width: 100%;
  }
}

.section-box .contact-btns-group{
  margin-top: 35px;
}

.section-box .contact-btns-group a{
  width: 130px;
  padding: 10px 14px;
  margin: 0 15px;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

@media(max-width: 540px){

  .section-box .contact-btns-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-box .contact-btns-group a{
    margin: 15px 0;
    width: 100%;
  }

}

.section-box .contact-btns-group a.fiverr-btn{
  background: #1dbd72;
  color: #fff;
  font-size: 14px;
}

.section-box .contact-btns-group a.upwork-btn{
  border: 1px solid #14a800;
  background: transparent;
  color: #fff;
}

.section-box .core-programming-section{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Raleway', sans-serif;
}

.section-box .core-programming-section .core-programming-heading{
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}

/* 450px */
@media(max-width:450px){

  .section-box .core-programming-section .core-programming-heading{
    font-size: 24px;
  }

}

/* 400px */
@media(max-width:400px){

  .section-box .core-programming-section .core-programming-heading{
    font-size: 22px;
  }

}

/* 360px */
@media(max-width:360px){

  .section-box .core-programming-section .core-programming-heading{
    font-size: 20px;
  }

}

.section-box .core-programming-section .principles-cards-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.section-box .core-programming-section .principles-cards-box .card{
  width: 250px;
  height: auto;
  background: #fff;
  border-radius: 12px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 15px;
  cursor: pointer;
}

.section-box .core-programming-section .principles-cards-box .card.black{
  background-color: #000a1a;
}

.section-box .core-programming-section .principles-cards-box .card .card-icon{
  color: #1daede;
}

.section-box .core-programming-section .principles-cards-box .card .card-heading{
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
}

.card.black .card-heading{
  color: #ffffff;
}

.section-box .core-programming-section .principles-cards-box .card .card-text{
  font-size: 14px;
  font-weight: 600;
  margin-top: 15px;
  color: #000;
  text-align: center;
}

.section-box .core-programming-section .principles-cards-box .card.card.black .card-text{
  color: #cccccc;
}

@media(max-width: 540px){

  .section-box .core-programming-section{
    width: 100%;
  }

  .section-box .core-programming-section .principles-cards-box{
    margin-top: 20px;
    flex-direction: column;
    width: 100%;
  }

  .section-box .core-programming-section .principles-cards-box .card{
    width: 100%;
    margin: 20px 0;
  }

}

/* certificate */
.certificate{
  margin-top: 50px;
}

.certificate img{
  width: 100%;
  height: 100%;
}

@media(max-width: 540px){
  .certificate{
    width: 100%;
    height: auto;
  }
}

/* footer */
.footer{
  background-color:#000a1a;
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer .footer-links{
  display: flex;
  flex-direction: column;
}

@media(max-width: 540px){

  .footer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer .footer-links{
    margin-top: 30px;
  }

}

.footer .footer-links h3{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #fff;
  font-family: 'Raleway','sans-serif';
}

.footer-links .imp-links{
  display: flex;
  flex-direction: column;
  font-family: 'Raleway','sans-serif';
}

.footer-links .imp-links span{
  margin: 5px 0;
}

.footer-links .imp-links span a, .footer-links .imp-links span a:hover{
  text-decoration: none;
  color: #cccccc;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.09em;
}

.footer-subscription-section{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(max-width: 540px){

  .footer-subscription-section{
    margin-top: 30px;
  }

}

.footer-subscription-section .footer-channel-logo{
  width: 80px;
  height: auto;
}

.footer-subscription-section .footer-channel-logo img{
  width: 100%;
  height: 100%;
}

.footer-subscription-section .footer-channel-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}

.footer-subscription-section .footer-channel-info .footer-channel-name{
  color: #cccccc;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.09em;
  font-weight: 600;
}

.footer-channel-info .footer-subscribe-button{
  width: 150px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.09em;
}

.footer-channel-info .footer-subscribe-button .footer-red-area{
  flex: 3;
  background-color: #ff0000;
  color: #fff;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.footer-channel-info .footer-subscribe-button .footer-white-area{
  flex: 1;
  background-color: #fff;
  color: #000;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.footer-channel-views{
  color: #cccccc;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.09em;
  font-size: 14px;
  margin-top: 3px;
  text-align: center;
}

@media(max-width: 360px){

  .footer-channel-views{
    font-size: 12px;
  }

}